@import "variables";

* {
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
}

svg {
  cursor: pointer;
}
img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  .banner-container {
    max-width: 1400px;
    margin: 0 auto;

    img {
      width: auto;
      object-fit: contain;
    }

    .logo-icon-banner {
      height: 3.5em;
    }
    @media screen and (min-width: 768px) {
      .logo-text-banner {
        width: 5em;
      }
    }
    @media screen and (min-width: 992px) {
      .logo-icon-banner {
        height: 4em;
      }
      .logo-text-banner {
        width: 6em;
      }
    }

    .top-banner-desktop {
      height: 5.5em;
    }
    .fa-circle-user {
      height: 1.25em;
    }
  }
  .mobile-banner {
    img {
      height: 3em;
    }
    .input-group {
      .form-floating {
        input {
        }
      }
    }
  }
  .mobile-banner-bottom {
    height: 4.25em;

    ul {
      li {
        cursor: pointer;

        &:nth-child(2) {
          position: relative;
          bottom: 10px;
          padding: 0.5em;
          border-radius: 50%;

          img {
            height: 3em;
          }
        }
      }
    }
  }
  .searchbar-desktop-container {
    max-width: 45em;
  }
}

main {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

footer {
  padding-bottom: 4em;
  @media screen and (min-width: 992px) {
    padding-bottom: 0;
  }
  .footer-copyright {
    width: fit-content;
    display: grid;
    place-content: center;
    height: 3em;
  }
}

ul {
  padding: 0 !important;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-fluid {
  @media screen and (max-width: 350px) {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}
