@import "global";
@import "variables";
@import "header";
@import "footer";

.card-container {
  .card {
    * {
      font-size: 1rem;
    }
    img {
      height: 16em;
      object-fit: cover;
    }
    .card-rating {
      img {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.venue {
  .carousel-inner {
    .carousel-item {
      img {
        height: 30em;
      }
      .carousel-caption {
      }
    }
  }
  .venue-text {
    .offers {
      svg {
        width: 2em;
      }
    }
  }
  figure {
    height: 35em;
    picture {
      img {
        max-height: 30em;
      }
    }
    figcaption {
    }
  }
  .booking-mobile {
    bottom: 4em;
    height: 5em;

    button {
      height: 3em;
      max-width: 12em;
    }
  }
  .booking-desktop-content {
    top: 20em;

    button {
      height: 3em;
    }
  }
}

.profile {
  .profile-banner {
    img {
      max-height: 20em;
    }
  }

  .profile-avatar {
    height: 10em;
    width: 10em;
    top: -55px;

    @media screen and (min-width: 576px) {
      height: 12.5em;
      width: 12.5em;
    }
  }

  .profile-about {
    margin-top: -35px;
  }
}

.admin {
  .button-group {
    max-width: 750px;
    button {
      height: 7em;
    }
  }
}

.canvas-venue {
  height: 97.5vh !important;
  border-radius: 1rem 1rem 0 0;

  @media screen and (min-width: 992px) {
    height: 100vh !important;
    border-radius: 0;
    width: 650px !important;

    .offcanvas-header {
      border-radius: 0 !important;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 750px !important;
  }

  .add-img-prev-container {
    .img-prev {
      cursor: pointer;
      .index-container {
        div {
          height: 1.5em;
          width: 1.5em;
          top: 10px;
          left: 10px;
        }
      }
      img {
        height: 7.5em;
        @media screen and (min-width: 576px) {
          height: 10em;
        }
        @media screen and (min-width: 992px) {
          height: 7.5em;
        }
      }
    }
  }
  .custom-checkbox {
    height: 1.5em;
    width: 1.5em;
    input {
      height: 1.5em;
      width: 1.5em;
      cursor: pointer;
    }
  }
}

.delete-avenue-card-container {
  .card {
    cursor: pointer;
    img {
      @media screen and (min-width: 576px) {
        max-height: 8em;
      }
    }
  }
}
