@import "global";
@import "variables";
@import "header";
@import "footer";

/* --- Homepage --- */
.card-container {
  .card {
    * {
      font-size: 1rem;
    }

    cursor: pointer;
    img {
      height: 16em;
      object-fit: cover;
    }
    .card-rating {
      img {
        width: 1em;
        height: 1em;
      }
    }
  }
  @media screen and (min-width: 892px) {
    .col-mdlg-4th {
      flex: 0 0 25%;
      max-width: 25%;

      img {
        height: 12em;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .col-lg-5th {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .show-more-btn {
    max-width: 25em;
  }
}

.venue {
  .carousel-inner {
    @media screen and (min-width: 992px) {
      border-radius: 0.5rem;
    }
    .carousel-item {
      img {
        height: 30em;

        @media screen and (min-width: 992px) {
          border-radius: 0.5rem;
        }
      }
      .carousel-caption {
      }
    }
  }

  .side-img-wrapper {
    img {
      height: 14.5em;
    }
  }
  .card-rating {
    img {
      width: 1em;
      height: 1em;
    }
  }
  .host-container {
    img {
      height: 4em;
      width: 4em;
    }
  }
  .venue-text {
    .offers {
      svg {
        width: 2em;
      }
    }
  }
  figure {
    height: 35em;
    picture {
      img {
        max-height: 30em;
      }
    }
    figcaption {
    }
  }
  .booking-mobile {
    bottom: 4em;
    height: 5em;

    button {
      height: 3em;
      max-width: 12em;
    }
  }
  .booking-desktop {
    .booking-desktop-content {
      top: 12.5em;
      button {
        height: 3em;
      }
    }
  }
}

.profile {
  .profile-banner {
    img {
      max-height: 20em;
    }
  }

  .profile-avatar {
    height: 10em;
    width: 10em;
    top: -55px;

    @media screen and (min-width: 576px) {
      height: 12.5em;
      width: 12.5em;
    }
  }

  .profile-about {
    margin-top: -35px;
  }

  .profile-venues,
  .profile-bookings {
    cursor: pointer;

    .venue-image,
    .booking-image {
      height: 8em !important;
    }
    .button-group-action {
      button {
        width: 5em;
      }
    }
  }
}

.admin {
  .button-group {
    max-width: 750px;
    button {
      height: 7em;
    }
  }
}

.avenue-card-container {
  .card {
    cursor: pointer;
    height: 8.5em !important;
    img {
      height: 8.5em !important;
    }
  }
}

// Search queries
.search-queries-container {
  transition: transform 0.4s ease, height 0.4s ease !important;

  .card-container {
    .card {
      cursor: pointer;
      .card-image {
        height: 6em !important;
      }
    }

    .card-rating {
      img {
        width: 1em;
        height: 1em;
      }
    }
  }
}

.admin-bookings-container {
  .card-container {
    .card {
      .card-img {
        height: 4em;
        width: 4em;
      }
    }
  }
}

/* --- Custom Offcanvas --- */
.canvas-venue {
  height: 97.5vh !important;
  border-radius: 1rem 1rem 0 0;

  @media screen and (min-width: 992px) {
    height: 100vh !important;
    border-radius: 0;
    width: 650px !important;

    .offcanvas-header {
      border-radius: 0 !important;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 750px !important;
  }

  .venue-offcanvas-img-container {
    img {
      height: 10em;
    }
  }

  .add-img-prev-container {
    .img-prev {
      cursor: pointer;
      .index-container {
        div {
          height: 1.5em;
          width: 1.5em;
          top: 10px;
          left: 10px;
        }
      }
      img {
        height: 7.5em;
        @media screen and (min-width: 576px) {
          height: 10em;
        }
        @media screen and (min-width: 992px) {
          height: 7.5em;
        }
      }
    }
  }
  .custom-checkbox {
    height: 1.5em;
    width: 1.5em;
    input {
      height: 1.5em;
      width: 1.5em;
      cursor: pointer;
    }
  }
}

.page-not-found {
  svg {
    height: 3em;
    cursor: auto;
  }
}
